<div class='container-fluid mt-4 mb-4'>
  <div class='card card-home border-info'>
    <div class='card-header'>
      <ul class='nav nav-tabs card-header-tabs pull-right' id='myTab' role='tablist'>
        <li class='nav-item'>
          <a class='nav-link disabled text-info font-weight-bold'><i class='fas fa-user-md fa-lg'></i> DoctoRuby</a>
        </li>
      </ul>

      <div class='right'>
        <%= link_to root_path, class: 'btn btn-home btn-primary' do %>
          <i class="fas fa-chevron-circle-left mr-1"></i> HOME
        <% end %>
      </div>
    </div>
    
    <div class='container-fluid mt-4 mb-4'>
      <%= render 'partial/appointments' %>
    </div>
  </div>
</div>